__pycache__/
*.pyc
.idea/
.ipynb_checkpoints/
data/processed/essentia.parquet
data/processed/lyrics_tf_idf.parquet
data/processed/mfcc.parquet
data/processed/musicnn.parquet
data/processed/vgg19.parquet
data/processed/word2vec.parquet
outputs/
data/raw/
good_to_know/
papers/